@font-face {
  font-family: "inter";
  src: url("./assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "lora";
  src: url("./assets/fonts/lora/Lora-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "lora";
  src: url("./assets/fonts/lora/Lora-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "inconsolata";
  src: url("./assets/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf")
    format("truetype");
}

:root {
  --almost-black: #050505;
  --lighter-black: #1f1f1f;
  --lightest-black: #2d2d2d;
  --dark-gray: #3a3a3a;
  --gray: #757575;
  --silver: #e9e9e9;
  --off-white: #f4f4f4;
  --white: #ffffff;
  --purple: #a445ed;
  --red: #ff5252;

  --large-heading: 64px;
  --medium-heading: 24px;
  --small-heading: 20px;
  --medium-body: 18px;
  --small-body: 14px;

  --down-arrow: url("./assets/images/icon-arrow-down.svg");
  --search-icon: url("./assets/images/icon-search.svg");
}

body {
  font-family: "inter", "lora", "inconsolata", sans-serif;
}

.font-change {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  font-family: "inter";
  font-weight: 800;
  font-size: 16px;
  background: transparent;
  background-image: var(--down-arrow);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 50%;
  padding: 1rem;
  padding-right: 2rem;
  margin-right: 1rem;
  border-right: 3px solid var(--silver);
}

.font-change:focus {
  border: 1px solid black;
}

header {
  display: flex;
  align-items: center;
  margin: 20px;
}

.header-control {
  display: flex;
  align-items: center;
  position: absolute;
  right: 3rem;
}

.moon-icon {
  position: absolute;
  left: 90%;
  margin-left: 10px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: green;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.search-section {
  text-align: center;
}

.search {
  appearance: none;
  border: none;
  border-radius: 10px;
  background-color: var(--silver);
  background-image: var(--search-icon);
  background-repeat: no-repeat;
  background-position-x: 92%;
  background-position-y: 50%;
  background-size: 24px;
  max-width: 90vw;
  padding: 10px 20px;
  font-size: var(--medium-heading);
  font-weight: 700;
}

/* clears the ‘X’ from search */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration,
input[type="search"]:not(:focus, :active)::-webkit-search-cancel-button {
  display: none;
}

.word-section {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.word-info {
  display: flex;
  flex-direction: column;
}

.word {
  font-size: 32px;
  margin: 0;
}

.pronunciation {
  color: var(--purple);
  font-size: var(--medium-body);
  font-weight: 500;
  margin: 0;
}

.play-button {
  max-width: 15%;
}
