@font-face {
  font-family: "inter";
  src: url("./assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "lora";
  src: url("./assets/fonts/lora/Lora-Italic-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "lora";
  src: url("./assets/fonts/lora/Lora-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "inconsolata";
  src: url("./assets/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf")
    format("truetype");
}

:root {
  --almost-black: #050505;
  --lighter-black: #1f1f1f;
  --lightest-black: #2d2d2d;
  --dark-gray: #3a3a3a;
  --gray: #757575;
  --silver: #e9e9e9;
  --off-white: #f4f4f4;
  --white: #ffffff;
  --purple: #a445ed;
  --red: #ff5252;

  --large-heading: 4rem;
  --medium-heading: 1.5rem;
  --small-heading: 1.25rem;
  --medium-body: 1.125rem;
  --small-body: 0.875rem;

  --down-arrow: url("./assets/images/icon-arrow-down.svg");
  --search-icon: url("./assets/images/icon-search.svg");
}

.font-inter {
  font-family: "inter";
}

.font-lora {
  font-family: "lora";
}

.font-inconsolata {
  font-family: "inconsolata";
}

body {
  margin: 0 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

a {
  color: var(--lightest-black);
  text-decoration: underline;
  word-wrap: break-word;
}

.font-change {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  font-weight: 800;
  font-size: 1rem;
  background: transparent;
  background-image: var(--down-arrow);
  background-repeat: no-repeat;
  background-position-x: 90%;
  background-position-y: 50%;
  padding: 1rem;
  padding-right: 2rem;
  margin-right: 1rem;
  border-right: 3px solid var(--silver);
  color: var(--almost-black);
}

.font-change:focus {
  border: 1px solid black;
}

.font-change:hover {
  cursor: pointer;
}

.header-control {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.moon-icon {
  position: absolute;
  left: 90%;
  margin-left: 10px;
  cursor: pointer;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 24px;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--purple);
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.search-section {
  margin: 20px;
}

.search {
  appearance: none;
  border: none;
  border-radius: 10px;
  background-color: var(--silver);
  background-image: var(--search-icon);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 20px;
  width: 100%;
  padding: 10px 20px;
  font-size: var(--medium-heading);
  font-weight: 700;
}

/* clears the ‘X’ from search */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration,
input[type="search"]:not(:focus, :active)::-webkit-search-cancel-button {
  display: none;
}

.word-section {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.word-info {
  display: flex;
  flex-direction: column;
}

.word {
  font-size: 2rem;
  margin: 0;
}

.pronunciation {
  color: var(--purple);
  font-size: var(--medium-body);
  font-weight: 500;
  margin: 0;
}

.play-button {
  max-width: 15%;
}

.play-button:hover {
  cursor: pointer;
}

.definition-section {
  margin: 20px;
}

.part-of-speech h3 {
  position: relative;
  overflow: hidden;
  font-style: italic;
}

.part-of-speech h3::after {
  display: inline-block;
  content: "";
  height: 1px;
  background: var(--silver);
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -2px;
  margin-left: 10px;
}

.meaning h4,
.source h4 {
  color: var(--gray);
  font-weight: 500;
}

.meaning ul {
  list-style: none;
  padding-left: 20px;
}

.meaning ul li {
  margin: 20px 0;
}

.meaning ul li::before {
  content: "\2022"; /* \2022 is the CSS Code/unicode for a bullet */
  color: var(--purple);
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
}

.synonyms {
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid var(--gray);
}

.synonyms h4,
.source h4 {
  font-weight: 400;
}

.synonyms ul {
  display: flex;
  gap: 10px;
}

.synonyms li {
  color: var(--purple);
  font-weight: 800;
}

.synonyms ul li::before {
  display: none;
}

.source h4 {
  text-decoration: underline;
  margin-bottom: 0;
}

.source p {
  position: relative;
  margin-top: 5px;
}

.source p::after {
  position: absolute;
  content: url("./assets/images/icon-new-window.svg");
  padding-left: 5px;
}

@media only screen and (min-width: 1200px) {
  body {
    max-width: 50%;
    margin: auto;
  }
}
